/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.card__icon-button:focus-visible {
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon,
.card__icon-button {
  border: none;
  background-color: var(--btn-color);
}

.sparks {
  opacity: 0;
}
  
<<<<<<< HEAD
.heart .core {
=======
.core {
>>>>>>> d492f3dc86e4a3eeca111a5be5c33a72aeef9f74
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
  
}
  
<<<<<<< HEAD
.heart:hover .core {
=======
.core:hover {
>>>>>>> d492f3dc86e4a3eeca111a5be5c33a72aeef9f74
    fill: var(--text-color);
    transition: fill 0.3s linear;
}
  
<<<<<<< HEAD
.heart .main-body {
=======
.main-body {
>>>>>>> d492f3dc86e4a3eeca111a5be5c33a72aeef9f74
    fill: transparent;
    transition: fill 0.3s linear;
}
  
<<<<<<< HEAD
.heart:hover .main-body {
=======
.main-body:hover {
>>>>>>> d492f3dc86e4a3eeca111a5be5c33a72aeef9f74
    fill: var(--text-color);
    transition: fill 0.3s 0.05s linear;
}
  
.core:active {
    fill: red;
    transition: fill 0.3s linear;
}
  
.main-body:active {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}
  
  .like-icon.is-liked .core {
    fill: red;
    transition: fill 0.3s linear;
  }
  
.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}
  
  .like-icon.is-liked .contour {
    fill: red;
    transition: fill 0.3s 0.06s linear;
  }

  .like-icon.is-liked .sparks {
    animation: sparks 0.3s 0.3s alternate;
  }

  .like-icon.is-liked .heart {
    animation: big 0.3s 0.1s alternate;
    transform-origin: center;

  }

  .like-icon.is-liked .heart {
    animation: big 0.3s 0.1s ease-in;
    /* transform-box: fill-box; */
    transform-origin: center;

  }
  
  
  .like-icon {
    transform-box: fill-box;
  }

@keyframes big {
  from {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.5);
  }

    to {
      transform: scale(1);

    }
  }
  
@keyframes sparks {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
  
@keyframes offset {
  from {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(4px);
  }
}
  