/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/


.page {
  font-size: 18px;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-weight: var(--font-weight-small);
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-image: 
  repeating-linear-gradient(90deg, var(--bg-theme) 0 2px, transparent 2px 4px),
  repeating-linear-gradient(var(--bg-theme) 0 2px, transparent 2px 4px),
  linear-gradient(var(--bg-image) 0 0.01%, var(--bg-image-2));
  background-size: cover;
}

.header {
  width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  height:clamp(20.1875rem, 19.2852rem + 3.8498vw, 22.75rem);
  background-color: var(--btn-color);
  margin: 0 auto 107px auto;  
  display: flex;
  flex-direction:column;
  font-family: "PressStart2P", sans-serif;
}

.header__heading {
  align-self: center;
}

.logo {
  margin-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  align-self: center;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
}

.theme-menu {
  display: flex;
  justify-content: center;

}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__list:first-child {
margin-top: 1rem;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  animation: offset ease-in-out 0.5s infinite alternate;
  top: 0rem;
  /* left: 0rem; */
  right: 4.5rem;
}


.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity ease 0.3s;
  width: 0%;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:after {
  /* content: "";
  width: 0%;
  transition: width 0.3s;
  outline: none;
  opacity: 0.6;
  color: rgba(0, 0, 0); */
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--bg-image-2);
  transition: width 0.3s;

}

.theme-menu__button {
  transition: color 0.3s;
}
.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.cards {
  display: flex;
  margin: auto;
  gap: clamp(3.125rem, 3.037rem + 0.3756vw, 3.375rem);
  flex-direction: column;
  align-items: center;
}

.img {
  object-fit: cover; 
  inline-size: 100%; 
  aspect-ratio: 1 / 1; 
}

.brightness {
  filter: brightness(120%);
}

.contrast {
  filter: contrast(60%);
}

.blur {
  filter: blur(20%);
}

.opacity {
  filter: opacity(0.7);
}

.grayscale {
  filter: grayscale(0.2);
}

.saturate {
  filter: saturate(105%);
}

.hue-rotate {
  filter: hue-rotate(170deg) invert(0.3) saturate(180%);
}

.sepia {
  filter: sepia(20%);
}
.card__heading {
  font-size: clamp(1.4375rem, 1.6356rem + -0.8451vw, 0.875rem);
  font-weight: var(--font-weight-big);
  margin-left: 10px;
  margin-bottom: 5px;

}

.transparent-label {
 position: absolute;
 color: transparent;
 mix-blend-mode: hard-light;
 z-index: 3;
 left: 54rem;
}


@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .transparent-label {
      -webkit-text-stroke: 1px var(--blend-text);
      text-stroke: 1px var(--blend-text);
      text-shadow: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  background-color: var(--btn-color);
  /* height: clamp(51.4375rem, 47.5202rem + 16.7136vw, 62.5625rem); */
  box-sizing: border-box;
}

.card:nth-of-type(8) .p {
  padding-top: 20px;
}

p {
  line-height: 21px;
}

p:first-of-type {
  padding: 1.563rem 1.563rem 0 1.563rem;
}

p:last-of-type {
  padding: 1.688rem 1.563rem 0 1.563rem;
}

.button {
  position: relative;
  margin: 0;
  border: 1px solid var(--text-color);
  overflow: hidden;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  background-color: var(--btn-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--text-color);
  translate: -100% 0%;
}

.button:hover::before {
  translate: 0% 0%;
  transition: translate 0.5s ease-in-out;
}

button:disabled {
  animation: change-color ease 0.3s;
  pointer-events: none;
}

.button__text {
  position: relative;
  color: var(--blend-text);
  mix-blend-mode: difference;
  font-family: "PressStart2P", sans-serif;
}

.button:focus-visible {
  border: 2px var(--text-color) solid;
  transition: border 0.3s ease;
}
.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--text-color);
}

.card__like-button {
  padding: 3px 17px;
}

.button__text {
  padding: 0 20px;
}

.btn-save {
  display: flex;
  margin-top: 54px;
  background-color: var(--btn-color);
  margin: 75px auto 0 auto;
  height: 100%;
  width: 23.5%;
  padding-bottom: 10px;
}

.btn-save .button__text {
  margin-top: 15px;
}

.buttons {
  margin-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  align-self: end;
  border: none;

}
.card__like-button, .card__icon-button {
  justify-content: center;
  align-content: center;
}


.dialog-id::backdrop {
  background-color: rgb(0 0 0 );
}

.form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.floppy {
  display: flex;
  mix-blend-mode: difference;
  /* justify-content: center; */
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0;
  object-fit: contain;
  object-position: center;
  inline-size: 21px;
  block-size: 21px;
}

.floppy-2 {
  width: 39px;
  height: 39px;
  display: flex;
  mix-blend-mode: difference;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0;
  object-fit: contain;
  object-position: center;
}

dialog {
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  height: clamp(12.1875rem, 12.2315rem + -0.1878vw, 12.0625rem);
  position: fixed;
  inset: 0;
  display: grid;
  border-width: 1px;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--btn-color);

}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog .button__text {
  padding: 0;
  margin: 0 auto;
  align-self: center;
}

dialog .floppy {
  align-self: center;
}
