/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-color: white;
    --font-weight-small: 400;
    --font-weight-big: 700;
    --text-color: #000;
}